extend layout

block our_title
  span Myriad

block page_title
  span Myriad


block content
  div.container.site-background-color(ng-controller="AppCtrl", ng-cloak="", layout-gt-sm="row", layout="column", ng-app="MyApp")
    div(flex-gt-sm="50", flex="")
      md-content
        md-list(flex="")
          md-list-item.md-3-line(ng-repeat="item in articles", ng-click="goToPage(item.where)")
            div.md-list-item-text(layout="column")
              h3 {{ item.title }}
              p {{ item.summary }}

