- var showfilters = true

extend layout

block our_title
  span Myriad

block page_title
  span.h2 Myriad


block content
  div#Content.container-fluid.site-background-color(ng-controller="AppCtrl", ng-cloak="", layout-gt-sm="row", layout="column", ng-app="MyApp")
    div(flex="")
      md-content.site-background-color
        div(layout="row")
          div(flex="0", flex-gt-sm="25")
          md-list.site-background-color(flex-gt-sm="50", flex="")
            md-list-item.md-3-line.panel.panel-default(ng-repeat="item in articles", ng-click="goToPage(item)")
              div.md-list-item-text(layout="column")
                div.panel-heading
                  h3.title {{ item.title }}
                  h4 {{ item.when }}
                div.panel-body
                  p {{ item.summary }}

    div.modal.fade#myModal(role="dialog")
      div.modal-dialog
        div.modal-content
          div.modal-header
            button.close(type="button", data-dismiss="modal") &times;
            h4.modal-title {{ modal_text }}
          div.modal-body
            iframe#iFrameViewer.modal-iframe

block filter_button
  button.navbar-toggle(type="button", data-toggle="offcanvas", data-target="#filterMenu", data-canvas="body", style="float:right")
    span.icon-bar
    span.icon-bar
    span.icon-bar