extend layout

block page_title
  span Myriad


block content
  div.container(ng-controller="AppCtrl", ng-cloak="", layout-gt-sm="row", layout="column", ng-app="MyApp")
    div(flex-gt-sm="50", flex="")
      md-content
        md-list(flex="")
          md-list-item.md-3-line.panel(ng-repeat="item in articles", ng-click="null")
            div.md-list-item-text(layout="column")
              h3 {{ item.title }}
              p {{ item.summary }}

