extend layout

block page_title
<<<<<<< HEAD
	span Myriad
=======
  span Myriad Home

block content
  div.container
    div.row
      div.col-xs-12
        h1 This is where our homepage can go

    div.row
      div.col-xs-12
        p.
          Lorem ipsum dolor sit amet, pri tacimates salutatus forensibus ea. Sit ceteros hendrerit
          consequuntur an, dicta tibique eu vis. Habeo impetus comprehensam te nam, in sit feugait
          principes. Cibo possit oblique qui cu, aperiri vivendum sed ne. Minim repudiare ne cum,
          ex graeco quodsi ius.
>>>>>>> 8f5c653ac9aa030f95b1a4549fb320cb55feab6e

block content
  script.
    angular.module('MyApp',['ngMaterial', 'ngMessages', 'material.svgAssetsCache'])

    .controller('AppCtrl', function($scope) {
        $scope.todos = [
        {
          what: 'Brunch this weekend?',
          who: 'Min Li Chan',
          when: '3:08PM',
          notes: " I'll be in your neighborhood doing errands"
        },
        {
          what: 'Brunch this weekend?',
          who: 'Min Li Chan',
          when: '3:08PM',
          notes: " I'll be in your neighborhood doing errands"
        },
        {
          what: 'Brunch this weekend?',
          who: 'Min Li Chan',
          when: '3:08PM',
          notes: " I'll be in your neighborhood doing errands"
        },
        {
          what: 'Brunch this weekend?',
          who: 'Min Li Chan',
          when: '3:08PM',
          notes: " I'll be in your neighborhood doing errands"
        },
        {
          what: 'Brunch this weekend?',
          who: 'Min Li Chan',
          when: '3:08PM',
          notes: " I'll be in your neighborhood doing errands"
        }
      ];
    });

  div.container
    md-list(flex="")
      md-list-item.md-3-line(ng-repeat="item in todos", ng-click="null")
          div.md-list-item-text(layout="column")
            h3
             span(ng-bind="item.who")
            h4 | {{ item.what }}
            p | {{ item.notes }}
