doctype html
html
  head
    meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/content/jasny-bootstrap.css')
    link(rel='stylesheet', href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css')
    link(rel='stylesheet', href='/content/site.css')
    title Myriad
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/js/jasny-bootstrap.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js')
    script(src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js')

    script.
      MyApp = angular.module('MyApp',['ngMaterial', 'ngMessages'])
        .controller('AppCtrl', function($scope) {
          $scope.articles = [
          {
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
          },
          {
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
          },
          {
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
          },
          {
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
          },
          {
            what: 'Brunch this weekend?',
            who: 'Min Li Chan',
            when: '3:08PM',
            notes: " I'll be in your neighborhood doing errands"
          }
        ];
      });

  body
    nav#myNavmenu.navmenu.navmenu-default.navmenu-fixed-left.offcanvas(role="navigation")
      a.navmenu-brand(href="/myriad") 
        block our_title
      ul.nav.navmenu-nav
        li
          a(href="/myriad") Home
        li
          a(href="/settings") Settings
    div.navbar.navbar-default.navbar-fixed-top
      div(style="z-index:1000; width:100%")
        button.navbar-toggle(type="button", data-toggle="offcanvas", data-target="#myNavmenu", data-canvas="body", style="float:left")
          span.icon-bar
          span.icon-bar
          span.icon-bar
      div(style="z-index:1; width:100%")
        ul.nav.nav-justified
          li
            a.navbar-brand(href="#")
              block page_title


    div.sitebody
      block content
