doctype html
html
  head
    meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/content/jasny-bootstrap.css')
    link(rel='stylesheet', href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css')
    link(rel='stylesheet', href='/content/site.css')
    title Myriad
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/js/jasny-bootstrap.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js')
    script(src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js')

    script.

      MyApp = angular.module('MyApp',['ngMaterial', 'ngMessages'])
        .controller('AppCtrl', function($scope, $mdDialog) {
          $scope.modal_text = "Hello!"
          $scope.goToPage = function(obj) {
            //window.location = link;
            $('#iFrameViewer').attr('src', obj.where);
            $scope.modal_text = obj.sitename;
            $('#myModal').modal('toggle');
          }
          $scope.removeSource = function(obj) {
            $scope.websites = $.grep($scope.websites,
              function(o, i) { return o == obj; },
              true);
          }
          $scope.addSource = function(name, url) {
            $scope.websites.push({title: name, link: url});
            $('#myModal2').modal('hide');
          }
          $scope.articles = [
          {
            where: 'http://www.theonion.com/article/new-report-finds-americans-most-interested-science-54722',
            when: '11/17/2016',
            title: 'New Report Finds Americans Most Interested In Science When Moon Looks Different Than Usual',
            summary: 'ARLINGTON, VA-Explaining that readership of science-related articles and discussion of scientific concepts tends to surge at such times, a report released Thursday by the National Science Foundation confirmed that Americans are most interested in science when the moon looks different than normal. "According to our findings, citizens are never more engaged by scientific disciplines than when the moon does not look like it regularly does-for example, when it becomes big or bright," read the report in part, which added that while the nation\'s interest in science is typically fairly minimal and consistent when the moon is its usual size and color, as soon as these properties of the moon differ in a noticeable way, millions of Americans begin displaying a desire to learn and share scientific knowledge. "The moon is ordinarily white and relatively small, and science is not on most people\'s minds."',
            sitename: 'The Onion',
            category: 'humor'
          },
          {
            where: 'http://www.theonion.com/article/fda-approves-new-pasta-shape-54724',
            when: '11/17/2016',
            title: 'FDA Approves New Pasta Shape',
            summary: 'WASHINGTON-Following months of analysis and numerous rounds of human trials, the Food and Drug Administration officially announced Thursday the approval of a new pasta shape. "After conducting multiple research studies, we have determined that tagallafoglio is as safe, effective, and flavorful as any other pasta shape on the market," said FDA commissioner Robert Califf, adding that the tubular curl with scalloped edges passed tests for retaining both tomato and cream-based sauces, and was shown to possess a conveniently short boil time. "The ease with which it can be picked up with a fork and achieve an al dente texture were all in compliance with FDA standards."',
            sitename: 'The Onion',
            category: 'humor'
          },
          {
            where: 'http://www.forbes.com/sites/laurabegleybloom/2016/11/17/this-27-year-olds-goal-the-fastest-woman-to-see-every-country-on-earth/#38c6245d34e4',
            when: '11/17/2016',
            title: 'This 27-Year-Old\'s Goal: The Fastest Woman To See Every Country On Earth',
            summary: 'The 27-year-old from Connecticut was embarking on the journey of a lifetime: to break a Guinness World Record by being the fastest woman to visit every country on earth. Cassie De Pecol: In high school, I had this feeling that I\'d do something major in life, change the world, enhance the world, something like that. De Pecol: Generally speaking, I\'ve experienced so much hospitality from people all over the world, but I don\'t think that has anything to do with being a woman.',
            sitename: 'Forbes',
            category: 'lifestyle'
          },
          {
            where: 'http://www.forbes.com/sites/gordonkelly/2016/11/19/amazon-black-friday-2016-deals-how-good-are-they/#470171665462',
            when: '11/19/2016',
            title: 'Amazon \'Black Friday\' 2016 Deals: How Good Are They?',
            summary: 'Want to stay home during Black Friday 2016 but still get yourself a bargain? Don\'t worry, Amazon along with Best Buy has arguably 2016\'s best Black Friday deals. Save $10 on Echo Dot, only $39.99 Save $40 on Amazon Tap, only $89.99 Save $25 on Fire Kids Edition tablet, only $74.99 Save $30 on Fire HD 8, only $59.99 Save $30 on Kindle Voyage, only $169.99 55" LG 4K Smart TV, $398 - wait for the model number, but this is potentially a very strong deal Blue Yeti USB Microphone, $89.99 - a bestseller on Amazon and with a decent $40 discount. While many Amazon products are rock solid deals, not everything on Amazon this Black Friday is worth your hard earned cash.',
            sitename: 'Forbes',
            category: 'tech'
          },
          {
            where: 'http://www.forbes.com/sites/lizryan/2016/11/12/ceos-dont-fill-out-job-applications-why-should-you/#83a698c2983e',
            when: '11/12/2016',
            title: 'CEOs Don\'t Fill Out Job Applications -- Why Should You?',
            summary: 'CEOs and other top executives don\'t fill out online job applications and wait for months to hear anything back, for instance. Stepping out of fear and starting conversations with strangers - in particular, with hiring managers who might need your help - could be the way you\'ll get your next job. You can get a job - or a consulting engagement, which is all that a job is these days anyway - whether or not somebody has published a job ad. The old, crusty ways of business are starting to die out.',
            sitename: 'Forbes',
            category: 'leadership'
          },
          {
            where: 'http://www.huffingtonpost.com/entry/donald-trump-hamilton_us_5830607fe4b099512f8315f7?jq5p8cn3txwu0izfr',
            when: '11/19/2016',
            title: 'Donald Trump Is Really Upset Mike Pence Got Booed At ‘Hamilton’',
            summary: 'What got him worked up was the fact that Mike Pence was booed by the audience during a performance of "Hamilton" on Friday, and that the cast took time to deliver a personal message to the Vice President-elect after the show. Our wonderful future V.P. Mike Pence was harassed last night at the theater by the cast of Hamilton, cameras blazing. The cast of Hamilton was very rude last night to a very good man, Mike Pence.',
            sitename: 'Huffington Post',
            category: 'politics'
          },
          {
            where: 'http://www.huffingtonpost.com/entry/donald-trump-conflict-of-interest_us_582f8e62e4b030997bbf83a2',
            when: '11/19/2016',
            title: 'Donald Trump\'s Potential Conflicts of Interest Continue To Mount',
            summary: 'The appearance of Ivanka Trump, who is vice president of development and acquisitions for the Trump Organization, raises alarm bells for those concerned about the unprecedented potential for conflicts of interest involving the incoming president. Trump\'s conflicts of interest are not solely limited to his overseas holdings. Rep. Elijah Cummings, the ranking Democrat on the House Oversight Committee, has already called for hearings on Trump\'s "Blind trust." In a letter to Rep. Jason Chaffetz, chairman of the Oversight Committee, Cummings wrote, "Mr. Trump\'s unprecedented secrecy and his extensive business dealings in foreign countries raise serious questions about how he intends to avoid conflicts of interest as president."',
            sitename: 'Huffington Post',
            category: 'politics'
          },
          {
            where: 'http://www.bbc.com/news/world-middle-east-38039282',
            when: '11/19/2016',
            title: 'Syria conflict: Aleppo hospitals \'knocked out by bombardment\'',
            summary: 'The World Health Organization says all makeshift hospitals there are out of service, after five days of air and artillery strikes by government forces. Reuters quotes the WHO\'s representative in Syria, Elizabeth Hoff, as saying on Saturday that NGOs based over the border in Turkey "Confirmed today that all hospitals in eastern Aleppo are out of service". Russia says its air force is active in other parts of Syria, but not operating over Aleppo.',
            sitename: 'BBC',
            category: 'world'
          },
          {
            where: 'http://www.bbc.com/capital/story/20161108-what-the-state-of-your-desk-says-about-you',
            when: '11/14/2016',
            title: 'What the state of your desk says about you',
            summary: 'Every office worker has a particular type of desk they keep, and a number of studies suggest that how you keep your workspace might affect how you work, from the idea that disorderly environments produce creativity - to the idea that too much clutter can interfere with focus. Lily Bernheimer, an environmental psychology consultant and director at UK-based Space Works Consulting developed five personality desk types for UK co-working company Headspace Group, drawing on the work of Gosling and other personality and environmental psychologists. "People who are more dominant personality types are more defensive of their space," says Bernheimer.',
            sitename: 'BBC',
            category: 'workplace'
          },
          {
            where: 'http://www.espn.com/college-football/story/_/id/18080477/up-minute-updates-college-football-playoff-scenarios',
            when: '11/19/2016',
            title: 'Tracking the College Football Playoff',
            summary: 'We are just more than two weeks from the final College Football Playoff rankings and the semifinal announcements. After a wild Saturday filled with big upsets, the ripple effect in the College Football Playoff continued Thursday night, when No. 5 Louisville was thoroughly outplayed by Houston in a 36-10 loss, sending reverberations throughout the selection committee\'s entire Top 25. Still needs all the help it can get for No. 9 Oklahoma or No. 14 West Virginia to finish in the top four, but Houston\'s win had a direct impact on Oklahoma\'s résumé because the Sooners lost to Houston in the season opener.',
            sitename: 'ESPN',
            category: 'sports'
          },
          {
            where: 'http://www.espn.com/nba/story/_/id/18086108/draymond-green-golden-state-warriors-warns-boston-celtics-fans-says-kevin-durant-boos-scare-free-agents-away',
            when: '11/19/2016',
            title: 'Draymond Green warns Celtics fans: Kevin Durant boos \'may scare free agents away\'',
            summary: 'Draymond Green criticized Celtics fans for their treatment of Kevin Durant, saying that booing the Warriors star was "Desperate" and warning that they "May scare free agents away." Celtics fans were ready Friday night with boos for Kevin Durant, but the Warriors KO\'d the home team with a third-quarter flurry. The Celtics signed Al Horford over the summer and courted Durant, too, even bringing along Patriots quarterback Tom Brady to meet with the free agent in the Hamptons.',
            sitename: 'ESPN',
            category: 'sports'
          }
        ];
        $scope.articles.sort(function(a, b) {
          return (new Date(b.when)).getTime() - (new Date(a.when)).getTime();
        });
        $scope.websites = [
        {
          link: 'http://www.forbes.com/',
          title: 'Forbes'
        },
        {
          link: 'http://www.huffingtonpost.com/',
          title: 'Huffington Post'
        },
        {
          link: 'http://www.theonion.com/',
          title: 'The Onion'
        },
        {
          link: 'http://www.bbc.com/',
          title: 'BBC'
        },
        {
          link: 'http://www.espn.com/',
          title: 'ESPN'
        }
        ];

        $scope.showConfirm = function(ev, obj) {
          // Appending dialog to document.body to cover sidenav in docs app
            var confirm = $mdDialog.confirm()
              .title('Delete Source?')
              .textContent('Would you like to delete this source?')
              .ariaLabel('Delete Source')
              .targetEvent(ev)
              .ok('Yes')
              .cancel('No')
              /*.openFrom({
                top: -50,
                width: 30,
                height: 80
              })
              .closeTo({
                left: 1500
              })*/;

          $mdDialog.show(confirm).then(function() {
            $scope.removeSource(obj);
            }, function() {
            
          });
        };
      });


  body

    div(ng-controller="AppCtrl", ng-app="MyApp")
      nav#myNavmenu.navmenu.navmenu-default.navmenu-fixed-left.offcanvas(role="navigation")
        a.navmenu-brand(href="/myriad") 
          block our_title
        div(style="background-color:#ddd; position:relative").almosteverything
          ul.nav.navmenu-nav
            li
              a.navmenu-item(href="/myriad") Home
            li
              a.navmenu-item(href="/settings") Settings
            li
              a.navmenu-item(href="/signin") Sign in
          img(src="/content/logo.png", style="position:absolute; bottom:0px; left:20%; width:50%")
      div.navbar.navbar-default.navbar-fixed-top.navbar-color
        div(style="z-index:1000; width:100%; position:fixed")
          button.navbar-toggle(type="button", data-toggle="offcanvas", data-target="#myNavmenu", data-canvas="body", style="float:left")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          block filter_button
        div(style="z-index:1; width:100%; position:fixed")
          ul.nav.nav-justified
            li(style="width:100vw")
              a.navbar-brand.navbar-white-text(href="#", style="width:100%")
                block page_title
      nav#filterMenu.navmenu.navmenu-default.navmenu-fixed-right.offcanvas(role="navigation")
        a.navmenu-brand(href="#")
          span Filters
        div(style="background-color:#ddd; position:relative").almosteverything
          ul.nav.navmenu-nav
            li
              span Categories
            li
              a(data-value="Science", tabIndex="-1", style="text-align:center")
                input(type="checkbox", style="float:left", checked) 
                label Sports
            li
              a(data-value="Science", tabIndex="-1", style="text-align:center")
                input(type="checkbox", style="float:left", checked) 
                label Science
            li
              a(data-value="Science", tabIndex="-1", style="text-align:center")
                input(type="checkbox", style="float:left", checked) 
                label Tech
            li
              a(data-value="Science", tabIndex="-1", style="text-align:center")
                input(type="checkbox", style="float:left", checked) 
                label World news

      div.sitebody
        block content
