extend layout

block our_title
  span Manage Sources

block content
  div.container
    div.row
      div.col-xs-9
        h2 Manage Sources 
      div.col-xs-3
        h2
          a.btn.btn-default(type="submit", role="button", href="news_sources")
            span.glyphicon.glyphicon-plus


    div.row
      div.col-xs-12
        table.table
          tr
            td(style="font-weight: bold;") Source Name
            td(style="font-weight: bold; text-align: center") Delete
          tr
            td Forbes
            td(style="text-align: center;")
              a.adam-trashcan
                span.glyphicon.glyphicon-trash
          tr
            td Huffinton Post
            td(style="text-align: center")
              a.adam-trashcan
                span.glyphicon.glyphicon-trash
          tr
            td The Onion
            td(style="text-align: center")
              a.adam-trashcan
                span.glyphicon.glyphicon-trash
          tr
            td Reddit
            td(style="text-align: center")
              a.adam-trashcan
                span.glyphicon.glyphicon-trash
          tr
            td ESPN
            td(style="text-align: center")
              a.adam-trashcan
                span.glyphicon.glyphicon-trash
        
