extend layout

block page_title
  span.h2 Settings

block our_title
  span Manage Sources

block content
  div#Content.container-fluid(ng-controller="AppCtrl", ng-cloak="", layout="column", ng-app="MyApp")
    div.row(style="width:100vw;")
      div.col-xs-9
        h2 Sources
      div.col-xs-3
        h2
          md-button.md-raised(type="submit", role="button", href="#", data-toggle="modal", data-target="#myModal2", style="float:right;min-width: 36px;padding-left: 10px;padding-right: 10px;") 
            span.glyphicon.glyphicon-plus
    div.row(style="width:100vw;")
      div(flex="100")
        md-content
          div(layout="row")
            md-list.md-dense(flex="100", style="background:white")
              md-list-item.md-2-line(ng-repeat="item in websites", style="border-bottom: ridge #D3649F")
                div.md-list-item-text.col-xs-8
                  span(style="font-size:17pt") {{ item.title }}
                div.md-list-item-text.col-xs-4
                  md-button.md-raised.md-warn(style="float:right;min-width: 36px;padding-left: 10px;padding-right: 10px;")
                    span.glyphicon.glyphicon-trash
    include news_sources

