.news_sources
  div.modal.fade#myModal2(role="dialog")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button", data-dismiss="modal") &times;
          h4.modal-title Add News Source
        div.modal-body
          div.container
            br
            div.row
              div.col-xs-3
                form(name="input", action="html_form_action.asp", method="get")
                  key Name
              dev.col-xs-9
                input(type="text", name="newsName") 
            br
            div.row
              div.col-xs-3
                form(name="input", action="html_form_action.asp", method="get")
                  key URL
              dev.col-xs-9
                input(type="text", name="urlLink") 
            br
            div.row
              div.col-xs-3
                | Description
              div.col-xs-9
                textarea#news( name="resp", rows="12", cols="30" )
                  | Enter Description
            br
            div.row
              div.col(style="text-align: center")
                input(type="button", value="Add")
