.news_sources
  div.modal.fade#myModal2(role="dialog")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button", data-dismiss="modal") &times;
          h4.modal-title Add News Source
        div.modal-body
          div
            br
            div.row
              div.col-xs-8.col-xs-offset-2
                md-input-container(style="width: 100%;")
                  label Name
                  input(ng-model="name")
            div.row
              div.col-xs-8.col-xs-offset-2
                md-input-container(style="width: 100%;")
                  label URL
                  input(ng-model="url")
            div.row
              div.col-xs-8.col-xs-offset-2
                md-input-container(style="width: 100%;")
                  label Description
                  textarea(md-select-on-focus="")
            br
            div.row
              div.col(style="text-align: center")
                md-button.md-raised.md-primary(ng-click="addSource(name, url)") Add
