extend layout

block page_title
  span.h2 Sign In

block our_title
  span Sign In

block content
  div.container
    div.row
      div.col-xs-12
        h3.text-center Sign in to your Myriad Account
        p &nbsp;
    div.row
      div.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4
        form(method="get", action="/myriad")
          md-input-container(style="width:100%")
            label Username
            input(ng-model="username")
          md-input-container(style="width:100%")
            label Password
            input(ng-model="password", type="password")
          div.text-center
            md-button.md-raised.md-primary(type="submit") Log In